{#
 # Passed in variables:
 #
 #}
{% extends twigparent %}

{% block members %}
    <div class="row">
        <h4>New Member</h4>
    </div>

    <div class="row register">

        <div class="small-12 columns">

            {{ form_start(register_form) }}
            {{ form_row(register_form.displayname) }}
            {{ form_row(register_form.email) }}
            {{ form_row(register_form.plainPassword.first) }}
            {{ form_row(register_form.plainPassword.second) }}
            <br>
            {{ form_row(register_form.submit) }}
            {{ form_end(register_form) }}

        </div>

    </div>

    {% include 'feedback.twig' %}
{% endblock %}
